/* Custom properties */
:root{
--white-cream: #F5F5F1;
}

/* Generics */
body {
    font-family: sans-serif;
    background-color: var(--white-cream);
}

#team-container .card img{  
    transition: all 2s;
  }
  
#team-container .card:hover {
    opacity: 0.9;
    border: 2px solid white;
  }



